html {
	overflow: none;
	background: black;
}
input {
    max-width: 100%;
    max-height: 100%;
}

input:focus {
    outline: 2px solid #1a1a1a !important;
}

footer a:link{
	color: blue;
}

.center-text{
	text-align: center;
}

.input-group .form-control{
	z-index: 0 !important;
}

.navbar-default{
	background-color: black;
	max-width: 60%;
	margin-left: 5% !important;
	letter-spacing: 1px;
    color: white;
    padding: 0rem 0rem !important;
}
.navbar-nav{
	z-index: 9999;
}
.navbar-default > .navbar-toggler{
	margin-left: 5% !important;
	margin-bottom: 10px !important;
}
.navbar-default .navbar-brand {
	font-size: 28px;
    color: white;
}
.navbar-default .navbar-nav > .nav-item > .nav-link{
	font-size: 25px;
    color: white;
}

#gameWindow{
	background: black;
	position: relative;
	overflow: none;
	display: none;
	width: 100%;
	height: 100%;
}

canvas{
	display: block;
	cursor: crosshair;
	overflow: none;
	width: 100%;
	height: auto;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left:50%;
	transform:translate(-50%,-50%);
}
#uiCanvas { z-index: 4;}
#gameCanvas { z-index: 3;}
#backgroundCanvas { z-index: 2;}
#backgroundImage {
	display: block;
	cursor: crosshair;
	overflow: none;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left:50%;
	transform:translate(-50%,-50%);
	background-image:url(img/background.jpg);
}

#hud{
	z-index: 5;
	pointer-events: none;
	display: block;
	cursor: crosshair;
	background-color: transparent;
	overflow: none;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left:50%;
	transform:translate(-50%,-50%);

}
#gameUI{
	width: 100%;
	height: 100%;
	position: relative;
	background-color: transparent;
	color:white;
	overflow: none;
	border: 1px solid #333333;
}
#bottomPanel{
	bottom: 0;
	width: 100%;
	height: 20%;
	position: absolute;
	overflow: none;
}
#leftClickPanel{
	display: inline-block;
	width: 100%;
	height: 100%;
	color:white;
	overflow: none;
}
#rightClickPanel{
	display: inline-block;
	width: 100%;
	height: 100%;
	color:white;
	overflow: none;
}
#readyButton{
	bottom: 25%;
	width: 100%;
	height: auto;
	position: absolute;
	cursor: hand;
	pointer-events: all;
	display: none;
}
#readyButton button{
	color: black;
	font-size: 18px;
	font-weight: bolder;
}
#shipBuild{
	top:5%;
	left:5%;
	width: 25%;
	height: auto;
	position: absolute;
	background-color: transparent;
	color:white;
	overflow: none;
	border: 1px solid #333333;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius:30px;
    border-top-right-radius: 30px;
}
#shipBuild p{
	margin-top: 10px;
	position: relative;
	vertical-align: middle;
	font-size: 1.5vw;
}

#weaponSelection{
	margin: auto;
	overflow: none;
	position: relative;
	width: 23vw;
	border-bottom: 1px solid white;
}
#gadgetSelection{
	margin: auto;
	overflow: none;
	position: relative;
	width: 23vw;
	margin-bottom: 10px;
}
#passiveSelection{
	border-top: 1px solid white;
	margin: auto;
	overflow: none;
	position: relative;
	width: 23vw;
}
#passiveCollapsable{
	margin-top: 5px;
	position: relative;
	height: auto;
	background-color: transparent;
	border-top: 1px solid white;
}

.spectate p{
	font-size: 2vw;
}

#weapons{
	margin: auto;
	width: 15vw;
}
#weapons div{
	cursor: hand;
	pointer-events: all;
}
#gadgets{
	margin: auto;
	width: 15vw;
}
#gadgets div{
	cursor: hand;
	pointer-events: all;
}
#weaponTitle{
	margin-top: -2vw;
}
#weaponTitle p{
	font-weight: bold;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
#weaponInfo{
	margin: auto;
	border: 1px solid #333333;
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius:5px;
    border-top-right-radius: 5px;
	height: 6vw;
	margin-top: -60px;
	margin-bottom: 1vw;
	width: 90%;
}
#weaponInfo p{
	margin-left: 10px;
	margin-right: 10px;
	font-size: .9vw;
}
#gadgetTitle p{
	font-weight: bold;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
#gadgetInfo{
	background-color: rgba(0, 0, 0, 0.7);
	margin: auto;
	border: 1px solid #333333;
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius:5px;
    border-top-right-radius: 5px;
	height: 5vw;
	width: 90%;
}
#gadgetInfo p{
	margin-left: 10px;
	margin-right: 10px;
	font-size: .9vw;
}
#passiveSelection{
	margin-bottom: 1vw;
}

.passive{
	margin-top: 2px;
	cursor: hand;
	pointer-events: all;
	border: 1px solid white;
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius:5px;
    border-top-right-radius: 5px;
}
#main{
	background: black;
	position: absolute;
	overflow: none;

	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin-top: -10%;
}
#bgImg{
	position:fixed;
	height:100%;
	width:100%;
}
.site-content *{
	color: white;
}
.site-content h1{
	margin-top: 10%;
	margin-bottom: 10%;
	text-align: center;
}
.site-content h2{
	margin-top: 2%;
	margin-bottom: 2%;
	border-bottom: solid;
}
.about-post{
	padding-left: 5%;
	margin-bottom: 5%;
}

#space-footer{
	height: 60px;
	background-color: black;
	width: 100%;
	position: fixed;
	bottom: 0;
	opacity: 0.9;
    filter:(opacity=90);
}
#footer-content-right{
	float: right;
	margin: auto 2% 10%;
}
#footer-content-right *{
	margin-left: 10px;
	margin-right: 10px;
	font-size: 35px;
	display: inline;
	color: white;
}
#motd{
	background: transparent;
	color: white;
	font-size: 20px !important;
	margin-bottom: -10%;
	margin-top: -10%;

}
#profileLoaded{
	background: transparent;
	height: 125px;
	display: none;
	color: white;
	margin-bottom: 25px;
	border:1px solid white;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

#profileLoaded *{
	font-size: 30px !important;
}

#centerContainer{
	position: absolute;
	left: 15%;
	top:15%;
    width:70%;
}
#guestSignIn{
	margin: auto;
	max-height: 10px;
	max-width: 900px;
}

.btn-lg {
    padding: 0px 0px !important;
    font-size: 30px !important;
    border-radius: 10px;
}

.modal-header{
	padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #1a1a1a;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-body
{
    background-color: #1a1a1a;
}
.modal-content h2,span{
	color: white;
}

#gameOverMenu{
	z-index: 5;
	display: none;
	width: 300px;
   	height: 100px;
   	left: 50%;
   	top: 70%;
   	margin-left: -7.5%;
   	position: absolute;
   	background-color: #1a1a1a;
	color:white;
	overflow: none;
	border: 1px solid #333333;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius:30px;
    border-top-right-radius: 30px;
}

#gameOverTop{
	top: 10%;
	height: 50%;
	text-align: center;
	vertical-align: middle;
}

#gameOverBottom{
	top: 10%;
	height: 50%;
	text-align: center;
	vertical-align: middle;
}

#howToPlayMenu{
	z-index: 5;
	position: absolute;
	width: 25%;
	height: 20vw;
	top: 10%;
	right: 5%;
   	background-color: transparent;
	color:white;
	overflow: none;
	border: 1px solid #333333;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius:30px;
    border-top-right-radius: 30px;
}

#howToPlayText{
	margin-top: 10px;
	height: 100%;
	text-align: center;
	position: relative;
	vertical-align: middle;
	font-size: 1vw;
}

#howToPlayBullets{
	text-align: left;
	position: relative;
	vertical-align: middle;
}


#bannerBox{
	margin-top: 100px;
	opacity: 1;
	color:white;
	height: 30%;
	width: 100%;
	background-color: transparent;
	display: inline-block;
	position: relative;
	vertical-align: middle;
}
#bannerBox h1{
	font-size: 5vw;
	text-align: center;
}

#formBox{
	position: relative;
	top: 10%;
	height: 30%;
	width: 100%;
	display: inline-block;
}

#playerProfile{
   	background-color: transparent;
   	overflow: none;
   	text-align: center;
	vertical-align: middle;
}
#authBox{
	color:white;
	top: 10%;
	height: 50%;
	display: inline-block;
}
#skinSelection{
	margin: auto;
	max-width: 600px;
	margin-bottom: 5%;
	background-color: transparent;
}
#skinSelector{
	margin-top: 5px;
	border-top: 10px solid white;
}
#leftArrow{
	cursor: pointer;
	filter:brightness(80%);
}
#skinSelectionDisplay{
	cursor: pointer;
}
#skins{

}
#rightArrow{
	cursor: pointer;
	filter:brightness(80%);
}
#nameBox{
	color:black;
}
#playButton{
	font-size: 1.7vw;
}
#signButtons{
	margin-top: 10px;
	margin-right: 15px;
	color:black;
	float: right;
}

#signInButton{
	margin-top: 10px;
	color:black;
	display: block;
	float: right;
}
#signUpButton{
	margin-top: 10px;
	color:black;
	display: block;
	float: right;
}
#signInSubmit{
	margin: auto;
	color: black !important;
}
#signUpSubmit{
	margin: auto;
	color: black !important;
}
#signUpError{
	margin: auto;
	text-align: center !important;
}
#signIn{
	text-align: left;
	color:black;
	overflow: none;
}
#signUp{
	text-align: left;
	color:black;
	overflow: none;
}
.blankRow {
	 height: 30px !important;
}

#playerTable {
	width: 100%;
	color: white;
	font-size:32px;
	margin-left:15px;
}
#playerTable *{
	text-align: center;
	vertical-align: middle;
}

#magentaRadio label{
	color:#ff00bf;
}
#redRadio label{
	color:red;
}
#greenRadio label{
	color:green;
}
#blueRadio label{
	color:#66b3ff;
}
.disabled {
    pointer-events: none;
    opacity: 0.3;
}
.enabled {
    pointer-events: all;
    opacity: 1;
}
#soundControl{
	position: absolute;
	margin-left: -50px;
	margin-top: -50px;
	left: 100%;
	top :100%;
}
@media screen and (orientation:portrait){
	#gameOverMenu{
		width: 20%;
		height: 10%;
	}
}

@media screen and (orientation:portrait) and (max-width: 600px) {
	#bannerBox{
		margin-top: -15%;
	}
	#leftArrow{
		display: none;
	}
	#rightArrow{
		display: none;
	}
	#skins{
		width: 250px;
		margin-left: -20%;
	}
	#bannerBox h1{
		font-size: 40px !important;
	}
	#movementControls{
		display: none;
	}
	.btn-lg {
	    padding: 10px 10px !important;
	    font-size: 20px !important;
	    border-radius: 5px;
	}
	#guestBar{
		margin-left: -35% !important;
		width: 350px !important;
	}
	#guestBar *{
		font-size: 15px !important;
	}
	#gameOverMenu{
		margin-left: -15%;
		width: 30%;
	}
	#footer-content-right {
		margin: 10 7 2;
	}
	.navbar-default{
		margin-bottom: 15% !important;
	}
}

@media screen and (max-width: 1300px){
	#main {
		margin-top: -15%;
	}
	#playerProfile{
		margin-top: -10%;
	}
}

@media screen and (max-height: 1200px){
	#bannerBox h1{
		font-size: 60px;
	}
	#main {
		margin-top: -18%;
	}
	#skinSelection{
		margin-top: 1%;
	}
	#guestBar {
		margin-top: 1%;
		margin-bottom: -10%;
	}
	#motd {
		font-size: 16px !important;
	}
	#playerProfile{
		margin-top: -10%;
	}
	#profileLoaded{
		margin-top: -3%;
	}
}

@media screen and (max-height: 600px){
	#bannerBox h1{
		font-size: 40px;
	}
	#main {
		margin-top: -15%;
	}
	#playerProfile{
		margin-top: -10%;
	}
}

@media screen and (max-width: 991px) and (orientation:landscape) {
	#bannerBox h1{
		font-size: 40px;
	}
	#guestSignIn {
		margin-top: 0%;
		margin-bottom: 0%;
	}
	#guestBar *{
		font-size: 15px !important;
	}
	#authButtons *{
		margin: 2px 0 auto;
	}
	#profileLoaded {
		height: 60px;
		display: all;
		margin-bottom: 5px;
	}
	#profileLoaded *{
		font-size: 15px !important;

	}
	#gameOverMenu{
		margin-left: -15%;
		width: 30%;
	}
	#movementControls{
		display: none;
	}
	#signIn *{
		font-size: 20px !important;
	}
	#signUp *{
		font-size: 15px !important;
	}
	#bannerBox {
		margin-bottom: 0%;
	}
	#main {
		margin-top: -35%;
	}
	#playerProfile{
		margin-top: -25%;
		margin-bottom: 10px;
	}
	#authButtons{
		margin-top: -5%;
	}
	.btn-lg {
		padding: 5px 5px !important;
	    font-size: 20px !important;
	    border-radius: 5px;
	}
	#space-footer {
		background-color: black;
	}
	#footer-content-right {
		margin: 10 7 2;
	}
	.navbar-default{
		margin-bottom: 10% !important;
	}
}
