html {
	overflow: none;
	background: black;
}
input {
    max-width: 100%;
    max-height: 100%;
}

input:focus {
    outline: 2px solid #1a1a1a !important;
}

footer a:link{
	color: blue;
}

.navbar-default{
	background-color: black;
	margin-left: 5% !important;
	margin-bottom: 2% !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	letter-spacing: 1px;
    color: white;
}
.navbar-default > .navbar-toggler{
	margin-left: 5% !important;
	margin-bottom: 10px !important;
}
.navbar-default .navbar-brand {
	font-size: 28px;
    color: white;
}
.navbar-default .navbar-nav > .nav-item > .nav-link{
	font-size: 25px;
    color: white;
}

#gameWindow{
	background: black;
	position: relative;
	overflow: none;
	display: none;
	width: 100%;
	height: 100%;
}

#gameCanvas{
	display: block;
	cursor: crosshair;
	overflow: none;
	width: 100%;
	height: auto;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left:50%;
	transform:translate(-50%,-50%);
}
#main{
	background: black;
	position: absolute;
	overflow: none;
	
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin-top: -10%;
}
#bgImg{
	position:fixed;
	height:100%;
	width:100%;
}
.site-content *{
	color: white;
}
.site-content h1{
	margin-top: 10%;
	margin-bottom: 10%;
	text-align: center;
}
.site-content h2{
	margin-top: 2%;
	margin-bottom: 2%;
}
.about-post{
	padding-left: 5%;
	margin-bottom: 5%;
}

#space-footer{
	height: 50px;
	background-color: black;
	width: 100%;
	position: fixed;
	bottom: 0;
	opacity: 0.9;          
    filter:(opacity=90);
}
#footer-content-right{
	float: right;
	margin: auto 0 0;
}
#footer-content-right *{
	margin-left: 5px;
	margin-right: 5px;
	font-size: 25px;
	display: inline;
	color: white;
}
#motd{
	background: transparent;
	color: white;
	font-size: 20px !important;
	margin-bottom: -10%;
	margin-top: -10%;

}
#profileLoaded{
	background: transparent;
	height: 125px;
	display: none;
	color: white;
	margin-bottom: 25px;
	border:1px solid white;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

#profileLoaded *{
	font-size: 30px !important;
}

#centerContainer{
	position: absolute;
	left: 15%;
	top:15%;
    width:70%;
}
#guestSignIn{
	margin: auto;
	max-height: 10px;
	max-width: 900px;
}

.btn-lg {
    padding: 0px 0px !important;
    font-size: 30px !important;
    border-radius: 10px;
}

.modal-header{
	padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #1a1a1a;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-body
{
    background-color: #1a1a1a;
}
.modal-content h2,span{
	color: white;
}

#gameOverMenu{
	display: none;
	width: 15%;
   	height: 20%;
   	left: 50%;
   	top: 70%;
   	margin-left: -7.5%;
   	position: absolute;
   	background-color: #1a1a1a;
	color:white;
	overflow: none;
	border: 1px solid #333333;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius:30px;
    border-top-right-radius: 30px;
}

#gameOverTop{
	top: 10%;
	height: 50%;
	text-align: center;
	vertical-align: middle;
}

#gameOverBottom{
	top: 10%;
	height: 50%;
	text-align: center;
	vertical-align: middle;
}

#howToPlayMenu{
	display: none;
	width: 400px;
	height: 350px;
	left: 70%;
   	top: 20%;
	position: absolute;
   	background-color: #1a1a1a;
	color:white;
	overflow: none;
	border: 1px solid #333333;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius:30px;
    border-top-right-radius: 30px;
}

#howToPlayText{
	top: 10%;
	height: 100%;
	text-align: center;
	position: relative;
	vertical-align: middle;
}
#howToPlayHide{
	margin-bottom 30px;
}

#howToPlayBullets{
	text-align: left;
	position: relative;
	vertical-align: middle;
}


#bannerBox{
	margin-top: 100px;
	opacity: 1;
	color:white;
	height: 30%;
	width: 100%;
	background-color: transparent;
	display: inline-block;
	position: relative;
	vertical-align: middle;
}
#bannerBox h1{
	font-size: 5vw;
	text-align: center;
}

#formBox{
	position: relative;
	top: 10%;
	height: 30%;
	width: 100%;
	display: inline-block;
}

#playerProfile{
   	background-color: transparent;
   	overflow: none;
   	text-align: center;
	vertical-align: middle;
}
#authBox{
	color:white;
	top: 10%;
	height: 50%;
	display: inline-block;
}
#skinSelection{
	margin: auto;
	max-width: 600px;
	margin-bottom: 5%;
	background-color: transparent;
}
#skinSelector{
	margin-top: 5px;
	border-top: 10px solid white;
}
#leftArrow{
	cursor: pointer;
	z-index:99;
	filter:brightness(80%);
}
#skinSelectionDisplay{
	cursor: pointer;
}
#skins{

}
#rightArrow{
	cursor: pointer;
	filter:brightness(80%);
	z-index:99;
}
#nameBox{
	color:black;
}
#playButton{
	font-size: 1.7vw;
}
#signButtons{
	margin-top: 10px;
	margin-right: 15px;
	color:black;
	float: right;
}

#signInButton{
	margin-top: 10px;
	color:black;
	display: block;
	float: right;
}
#signUpButton{
	margin-top: 10px;
	color:black;
	display: block;
	float: right;
}
#signInSubmit{
	margin: auto;
	color: black !important;
}
#signUpSubmit{
	margin: auto;
	color: black !important;
}
#signUpError{
	margin: auto;
	text-align: center !important;
}
#signIn{
	text-align: left;
	color:black;
	overflow: none;
}
#signUp{
	text-align: left;
	color:black;
	overflow: none;
}
.blankRow {
	 height: 30px !important;
}

#playerTable {
	width: 100%;
	color: white;
	font-size:32px;
	margin-left:15px;
}
#playerTable *{
	text-align: center;
	vertical-align: middle;
}

#magentaRadio label{
	color:#ff00bf;
}
#redRadio label{
	color:red;
}
#greenRadio label{
	color:green;
}
#blueRadio label{
	color:#66b3ff;
}
.disabled {
    pointer-events: none;
    opacity: 0.3;
}
.enabled {
    pointer-events: all;
    opacity: 1;
}
#soundControl{
	position: absolute;
	margin-left: -50px;
	margin-top: -50px;
	left: 100%;
	top :100%;
}
@media screen and (orientation:portrait){
	#howToPlayMenu{
		left: 50%;
		margin-left: -25%;
   		top: 0%;
	}
	#gameOverMenu{
		width: 20%;
		height: 10%;
	}
}

@media screen and (orientation:portrait) and (max-width: 600px) {
	#bannerBox{
		margin-top: -15%;
	}
	#bannerBox h1{
		font-size: 40px !important;
	}
	#movementControls{
		display: none;
	}
	.btn-lg {
	    padding: 15px 15px !important;
	    font-size: 20px !important;
	    border-radius: 5px;
	}
	#guestBar{
		margin-left: 0% !important;
		width: 300px !important;
	}
	#guestBar *{
		font-size: 15px !important;
	}
	#gameOverMenu{
		margin-left: -15%;
		width: 30%;
	}

	#howToPlayMenu{
		left: 50%;
		margin-left: -25%;
   		top: 0%;
	}
	#footer-content-right {
		margin: 10 7 2;
	}
	.navbar-default{
		margin-top: 2% !important;
		margin-left: -3% !important;
		margin-bottom: 10% !important;
	}
	
}

@media screen and (max-width: 1300px){
	#main {
		margin-top: -15%;
	}
	#playerProfile{
		margin-top: -10%;
	}
}

@media screen and (max-height: 1200px){
	#bannerBox h1{
		font-size: 60px;
	}
	#main {
		margin-top: -18%;
	}
	#skinSelection{
		margin-top: 1%;
	}
	#guestBar {
		margin-top: 1%;
		margin-bottom: -10%;
	}
	#motd {
		font-size: 16px !important;
	}
	#playerProfile{
		margin-top: -10%;
	}
	#profileLoaded{
		margin-top: -3%;
	}
}

@media screen and (max-height: 600px){
	#bannerBox h1{
		font-size: 40px;
	}
	#main {
		margin-top: -15%;
	}
	#playerProfile{
		margin-top: -10%;
	}
}

@media screen and (max-width: 991px) and (orientation:landscape) {
	#bannerBox h1{
		font-size: 40px;
	}
	#guestSignIn {
		margin-top: 0%;
		margin-bottom: 0%;
	}
	#guestBar *{
		font-size: 15px !important;
	}
	#authButtons *{
		margin: 2px 0 auto;
	}
	#profileLoaded {
		height: 60px;
		display: all;
		margin-bottom: 5px;
	}
	#profileLoaded *{
		font-size: 15px !important;
		
	}
	#gameOverMenu{
		margin-left: -15%;
		width: 30%;
	}
	#howToPlayMenu{
		left: 0;
		height: 150px;
		width: 75%;
		margin: 0% 10% auto;
   		top: 0%;
	}
	#howToPlayText *{
		margin: none;
		font-size: 15px !important;
		width: 100%;
	}
	#movementControls{
		display: none;
	}
	#signIn *{
		font-size: 20px !important;
	}
	#signUp *{
		font-size: 15px !important;
	}
	#bannerBox {
		margin-bottom: 0%;
	}
	#main {
		margin-top: -35%;
	}
	#playerProfile{
		margin-top: -25%;
		margin-bottom: 10px;
	}
	#authButtons{
		margin-top: -5%;
	}
	.btn-lg {
		padding: 5px 5px !important;
	    font-size: 20px !important;
	    border-radius: 5px;
	}
	#space-footer {
		background-color: black;
	}
	#space-footer * {
		margin: auto 5 5;
		font-size: 22px !important;
	}

}
